<html>
    
    <head>
        <title>EduRank</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <!-- Icons-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js">
        </script>

        <style>
            .dark{
                color: black;
            }
        </style>
  </head>

    <body>
        <div class="container">
            <div class="navbar">
                <nav>
                        <div class="nav-wrapper blue">
                          <a href="#!" class="brand-logo center white-text">EduRank - Student</a>
                        </div>
                </nav>
            </div>
        </div>
        <br><br><br>
        <div class="container">
            <br><br>
            <h2 class="center-align grey-text">Please give your feedback on these components</h2>
            <div class="center-align">
                <a href="/student/theory" class="waves-effect waves-light red accent-2 btn-large center-align"><i class="large material-icons right"></i>Theory</a>
                <a href="/student/lab" class="waves-effect waves-light blue accent-2 btn-large center-align"><i class="large material-icons right"></i>Lab</a>
                <a href="/student/project" class="waves-effect waves-light green accent-4 btn-large center-align"><i class="large material-icons right"></i>Project</a>
            </div>    
        </div>
    </body>
</html>    